  <div class="w3-padding">
    <h2 class="w3-xxxlarge w3-text-green"><b></b></h2>
    <hr style="width:50px;border:5px solid #4CAF50" class="w3-round">
  </div>  
  <div class="w3-row-padding">
  {% if galleries %}
    <div class="w3-padding-32" id="ngy2p" data-nanogallery2='{
      "thumbnailHeight": 320,
      "thumbnailWidth":  "auto",
      "thumbnailBorderVertical": 8,
      "thumbnailBorderHorizontal": 8,
      "galleryDisplayMode": "rows",
      "galleryMaxRows": 1,
      "galleryDisplayMode": "pagination",
      "galleryLastRowFull": true,
      "gallerySorting": "random",
      "thumbnailDisplayTransition": "flipUp",
      "thumbnailDisplayInterval": 150
      }'>
      {% for gallery in galleries %}
        <a href="/upload/gallery/{{gallery.image}}"data-ngthumb="/upload/gallery/{{gallery.image}}" data-ngdesc="{{gallery.text}}"></a>
      {% endfor %}   

    </div>
  {% endif %}
  </div>