<header class="w3-display-container">

  <div class="wrapper" style="z-index:0">
    <div id="ei-slider" class="ei-slider">
      
      <ul class="ei-slider-thumbs" style="transform: rotate(180deg);height:0px">
        <li class="ei-slider-element">Current</li>
        {% for banner in banners %}
          <li><a href="#">Slide {{loop.index}}</a><img style="transform: rotate(180deg)" src="/upload/banner/{{banner.image}}" alt="thumb{{loop.index}}" /></li>
        {% endfor %}
      </ul><!-- ei-slider-thumbs -->

      <ul class="ei-slider-large">
      {% for banner in banners %}
        <li>
          <img src="/upload/banner/{{banner.image}}" alt="image{{loop.index}}" />
          {% if banner.text_active %}
          <div class="ei-title">
            <h2>{{banner.text}}</h2>
            <h3>{{banner.text}}</h3>
          </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul><!-- ei-slider-large -->
  </div><!-- ei-slider -->
</div><!-- wrapper -->
</header>




