<div class="w3-container w3-padding-32 w3-black w3-opacity w3-card w3-hover-opacity-off" style="margin:32px 0">
    <h2>{%trans%}best_first{%endtrans%}</h2>
    <p>{%trans%}join_newsletter{%endtrans%}</p>

    <div class="w3-row-padding">
      <div class="w3-col l3 m1 s0 w3-hide-small">&nbsp;</div>
      <div class="w3-col l4 m6 s8">
        <input class="w3-input w3-border" type="text" placeholder="Email">
      </div>
      <div class="w3-col l2 m4 s4 w3-left">
        <button type="button" class="w3-button w3-red">{%trans%}submit{%endtrans%}</button>
      </div>
    </div>
</div>
