
<div class="w3-content w3-padding-16" style="max-width:1532px;">

<div class="w3-padding">
 <h2 class="w3-xxxlarge w3-text-green"><b></b></h2>
  <hr style="width:50px;border:5px solid #4CAF50" class="w3-round">
</div>

  <div class="w3-row-padding w3-padding-small">

 {% for category in categories %}

    <div class="w3-third w3-margin-bottom">
      <h2 class="w3-text-green">{{ category.namePt }}</h2>
      <img src="/upload/category/{{ category.image }}" onerror="this.src='/upload/category/no-image.png'" alt="{{ category.nameEn }}" style="width:100%">
      <div class="w3-container w3-white">      
        {% if category.adultAmount > 0 %}
        <h6 class="w3-opacity">{{company.currency.currency}} {{ category.adultAmount}}</h6>
        {% else %}
        <h6 class="w3-opacity">-/-</h6>
        {% endif %}        
        <p>{{ category.descriptionPt }}</p>
        <!--p>Aprox: {{ category.duration}}<sup>Min</sup></p-->
        <button class="w3-button w3-block w3-black w3-margin-bottom">Escolher Quarto</button>
      </div>
    </div>
 {% endfor %}
  </div>
</div>