<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tours</title>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="keywords" content="Tours passeios maritímos, grutas, caves, algarve, grottos">
        <meta name="title" content="Bem Vindo | passeios maritímos no Algarve">
        <meta name="description" content="Visita às grutas no Algarve.">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        {% include 'page/styles.html' %}
    </head>
    <body class="w3-light-gray">
        {% block content %}{% endblock %}
    </body>
</html>