
###> symfony/framework-bundle ###
.env
*.zip
/public_html/bundles/
/src/Migrations/
/var/
/vendor/
/public_html/upload/photo_service
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public_html/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
