<footer>
	<br>
	<div class="w3-black">
		<div class="w3-content">
			<div class="w3-block">
				<div class="logo-rodape" style="background-image: url({{ asset('assets/images/logo-branco-seasiren-01.svg') }});"></div>
				<div>
					<h4>
						Portugal – Algarve - Albufeira
					</h4>
					<h6>
						+351 969 838 771 | +351 969838 772
					</h6>
					<a href="mailto:info@nauticdrive-algarve.com?subject=seasiren%20tours%20contact" class="w3-text-blue">Nauticdrive.fotos@gmail.com <br>Nauticdrive.reservas@gmail.com<br> info@nauticdrive-algarve.com</div></a>
				</div>
				</div>
			</div>
			<div style="display:inline-block;">
				Follow us on our social network
				<a href="https://www.facebook.com/nauticdrive/" class="w3-padding-small"><i class="fa fa-facebook-official fa-2x w3-text-blue" aria-hidden="true"></i></a>
				<a href="https://www.tripadvisor.pt/Attraction_Review-g189112-d13795619-Reviews-Nauticdrive-Albufeira_Faro_District_Algarve.html" class="w3-padding-small"><i class="fa fa-tripadvisor fa-2x w3-text-yellow" aria-hidden="true"></i></a>
				<a href="https://www.instagram.com/nauticdrive/" target="_blank" class="w3-padding-small"><i class="fa fa-instagram fa-2x w3-textblack" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/watch?v=3WIcXKFfCws" target="_blank" class="w3-padding-small"><i class="fa fa-youtube fa-2x w3-text-red" aria-hidden="true"></i></a>
			</div>
			<hr>
			<div class="w3-row w-clearfix ">
				<div class="w3-col l10 m9 s8 w3-left">
					<small>* All programs are subject to change and / or cancellation under adverse weather conditions.</small>
				</div>
				<div class="w3-col l2 m3 s4">
					NAUTICDRIVE 2019
				</div>
			</div>
			<br>
		</div>
	</div>
	
	
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<script>
		function formContact(){
			$('.w3-text-red.w3-right').addClass('w3-hide');
			$('.w3-overlay').show()
			setTimeout(function(){
				$.ajax({
					url:"{{ path('send_email') }}",
					type: "POST",
					data: $('#formContact').serialize(),
					success: function(data){
						$('.w3-overlay').hide()
						if(data.status == 1)
						{
							$('.contact_success').removeClass('w3-hide').html('{% trans %}page_detail.contacts.form.success{% endtrans %}');
							setTimeout(function(){$('.contact_success').addClass('w3-hide')},10000);
						}
						else if(data.status == 0)
						{
							for(var k in data.data)
								$('.'+data.data[k]).removeClass('w3-hide').html('{% trans %}page_detail.contacts.form.required{% endtrans %}');
						}
						else
						{
							for(var k in data.data)
								$('.'+data.data[k]).removeClass('w3-hide').html('{% trans %}page_detail.contacts.form.invalid{% endtrans %}');
						}
					},
					error:function(data){
						$('.w3-overlay').hide()
						$('#modal-error').removeClass('w3-hide')
					}
				})
			}, 500)
		}
		
		function formVoucher(){
			$('.w3-text-red.w3-right').addClass('w3-hide');
			$('.w3-overlay').show()
			setTimeout(function(){
				$.ajax({
					url:"{{ path('send_voucher') }}",
					type: "POST",
					data: $('#formVoucher').serialize(),
					success: function(data){
						$('.w3-overlay').hide()
						if(data.status == 1)
						{
							$('.contact_success').removeClass('w3-hide').html('{% trans %}page_detail.contacts.form.success{% endtrans %}');
							setTimeout(function(){$('.contact_success').addClass('w3-hide')},10000);
						}
						else if(data.status == 0)
						{
							for(var k in data.data)
								$('.'+data.data[k]).removeClass('w3-hide').html('{% trans %}page_detail.contacts.form.required{% endtrans %}');
						}
						else
						{
							for(var k in data.data)
								$('.'+data.data[k]).removeClass('w3-hide').html('{% trans %}page_detail.contacts.form.invalid{% endtrans %}');
						}
					},
					error:function(data){
						$('.w3-overlay').hide()
						$('#modal-error').removeClass('w3-hide')
					}
				})
			}, 500)
		}
		
		var slideIndex = 1;
		carousel();

		function carousel() 
		{
			var i;
			var x = document.getElementsByClassName('slider');
			for (i = 0; i < x.length; i++)
			{
				x[i].style.display = "none"; 
			}
			slideIndex++;
			if (slideIndex > x.length)
			{
				slideIndex = 1
			} 
			x[slideIndex-1].style.display = "block"; 
			setTimeout(carousel, 4000); // Change image every 2 seconds
		}
		
		// Script for side navigation
		function w3_open() {
		  var x = document.getElementById("mySidebar");
		  x.style.width = "300px";
		  x.style.paddingTop = "10%";
		  x.style.display = "block";
		}

		// Close side navigation
		function w3_close() {
		  document.getElementById("mySidebar").style.display = "none";
		}

		// Used to toggle the menu on smaller screens when clicking on the menu button
		function openNav() {
		  var x = document.getElementById("navDemo");
		  if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		  } else { 
			x.className = x.className.replace(" w3-show", "");
		  }
		}
		// Change style of navbar on scroll
		window.onscroll = function() {myFunction()};
		function myFunction() {
			var navbar = document.getElementById("myNavbar");
			var logo = document.getElementById("logo");
			if (document.body.scrollTop > (window.innerHeight/1.1) || document.documentElement.scrollTop > (window.innerHeight/1.1)) {
				navbar.className = "w3-bar w3-card-4 w3-green w3-left-align";
			} else {
				navbar.className = navbar.className.replace("w3-card-4 w3-green", "w3-theme-d2");
			}
			if (document.body.scrollTop > (window.innerHeight/1.85) || document.documentElement.scrollTop > (window.innerHeight/1.85)) {
				logo.className = "w3-margin-left w3-hide-small w3-hide-medium w3-hide-large";
			} else {
				logo.className = logo.className.replace("w3-hide-large", " ");
			}
		}
	</script>
</footer>