
<style>
li { list-style-type:none}
ul{padding: 0px}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}

.parsley-required, .parsley-type, .parsley-pattern, .parsley-min, .parsley-max, .parsley-length, .parsley-errors-list {
    color: #f44336!important;
    padding: 8px 4px;
    animation: animatezoom 0.6s;
}
.sucess-msg {
    color: #33ff00!important;
}

</style>
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="far fa-images"></i> {%trans%}photo_service{%endtrans%}<i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

<div class="w3-padding-16 w3-container">
  
  <div class="w3-border w3-sand">
    <form id="photo-service-form"  enctype="multipart/form-data">  
  {# {{ form_start(form, {'attr': {'id': 'photo-service-form'}})  }}
  {{ form_row(form._token) }} #}

  <div class="w3-row-padding w3-margin-top w3-border-bottom">

    <div class="w3-col s0 l3 m2 w3-hide-small">&nbsp;</div>

    <div class="w3-col s12 l6 m8 w3-center">
      <div class="w3-row-padding w3-margin-top w3-border-bottom">
          <div class="w3-col l6 m6 s12 w3-margin-bottom">
              {%trans%}name{%endtrans%}<br>
              <input class="w3-input w3-border w3-white" type="text" name="name"  required>
          </div>
          <!-- <div class="w3-col l6 m6 s12 w3-margin-bottom"> -->
            {# {{ form_label(form.email)}}<br>
            {{ form_widget(form.email)}} #}
          <!-- </div> -->
          <div class="w3-col l6 m6 s12 w3-margin-bottom">
            {# {{ form_label(form.telephone)}}<br>
            {{ form_widget(form.telephone)}} #}
            {%trans%}telephone{%endtrans%}<br>
            <input class="w3-input w3-border w3-white" type="tel" name="telephone" pattern="^[0-9-+s()]*$" required>
          </div>
          <div class="w3-col l6 m6 s12 w3-margin-bottom">
              Email<br>
              <input class="w3-input w3-border w3-white" type="email" name="email"  pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>
            </div>
          <div class="w3-col l6 m6 s12 w3-margin-bottom">
            {# {{ form_label(form.locales)}}<br>
            {{ form_widget(form.locales)}} #}
            {%trans%}language_sms{%endtrans%}<br>
            <select class="w3-input w3-select w3-border w3-white" name="locales">
              {%for local in locales %}
              <option value="{{local.id}}">{{local.name}}</option>
              {% endfor %}
            </select>
          </div>
          
        </div>
        
      <div id="contacts-container" class="w3-row-padding w3-margin-top w3-border-bottom">
        <div class="w3-row">
            <!-- <label>Emails:</label> -->

            <span class="w3-button w3-border w3-blue" style="margin:-7px 0px 8px 0px" onclick="addNewContact()">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <i class="fa fa-plus"></i></span>
        </div>
          
      </div>
      <!-- <input type="number" name="number"> -->
      <div class="w3-row-padding w3-margin-top ">
        <label class="w3-text-red">{%trans%}max_selected_images{%endtrans%}: 300</label>
        <div id="previews" class="w3-white w3-center w3-margin-bottom w3-border w3-imput w3-section set-image-container w3-padding" title="{%trans%}add_image{%endtrans%}" style="cursor:pointer"onclick="$('.set-image').trigger('click')">
          <i id="no-image" class="fa fa-camera w3-jumbo" style="color:#05788d"></i>
        </div>
        <input id="fileupload" class="w3-hide set-image" type="file" accept="image/*" name="files[]" required multiple>
        {# {{ form_widget(form.imageFile)}} #}
        {# <input type="file" name="previews" class="set-image" multiple> #}
        </div>
        <progress id="progressBar" class="w3-margin-top w3-hide" value="0" max="100" style="width:300px;"></progress>
        <h3 id="status"></h3>
        <p id="loaded_n_total"></p>
        <div id="try-again"></div>
        <h1 class='sucess-msg w3-center w3-hide'>  {%trans%}sucess_msg{%endtrans%}</h1>
      </div> 
    </div>
  </div>

    <div class="w3-hide">
      {# {{ form_widget(form.submit)}} #}
      <input type="submit" value="Upload">
    </div>
  </div>
    <div class="w3-row-padding w3-margin-top w3-border-bottom">
      <div class="w3-col s12 w3-margin-bottom">
        <span id="submit-button" class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#photo-service-form').trigger('submit')" disabled>
            <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
          </span>
      </div>
    </div>
    {# {{ form_end(form) }} #}

  </form>
  </div>
</div>

<script>
  
  function deleteContact(element) {
    $(element).parent().remove()
  }

  function addNewContact() {
    $('#contacts-container').append(
      '<div class="w3-col l6 m6 s12 w3-margin-bottom w3-border">Email<br>'
        +'<input class="w3-input w3-border w3-white" type="email" name="contacts[]"  pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required>'
        +'<span class="w3-button w3-red w3-border w3-right" style="margin: 1% 1%" onclick="deleteContact(this)"><i class="fa fa-trash"></i></span>'
    +'</div>'
       )
  }

  //<ul class="parsley-errors-list filled" id="parsley-id-44"><li class="parsley-required">Obrigatório *</li></ul>
  var progressBar = document.getElementById('progressBar');  
  var fileInput = document.querySelector('input[type="file"]');  

  fileInput.addEventListener('change', function(e) {
                                     
    $imgSelectedTranslate = e.target.files.length > 1 ? (e.target.files.length + " " + '{%trans%}selected_images{%endtrans%}') : e.target.files[0].name;
    $("#previews").html($imgSelectedTranslate);
     
    $maxFileUploads = 300;
    if (e.target.files.length > $maxFileUploads){
      $("#previews").html('{%trans%}upload_maximum{%endtrans%} ' + $maxFileUploads + ' {%trans%}images{%endtrans%}');
      $("#submit-button").addClass("w3-hide");
     } else {
      $("#submit-button").removeClass("w3-hide");
     }
  }, false);

  $("#photo-service-form").parsley()
  
  $('#photo-service-form').on('submit',function(e){

    sendEmail();

    $('.w3-overlay').show()

    obj=''

    form = new FormData($(this)[0])

    e.preventDefault()
    $('#progressBar,#status,#loaded_n_total').removeClass("w3-hide");
  
    $.ajax({  
      url:'{{ path('admin_photo_service_add') }}',
      method: "POST",
      type: "POST",
      data: form,
      processData: false,
      contentType: false,
      xhr: function(){
      // get the native XmlHttpRequest object
      var xhr = $.ajaxSettings.xhr() ;
      xhr.upload.addEventListener("progress", progressHandler, false);//onprogress = function(evt){ progressHandler(evt) } ;
      xhr.addEventListener("load", completeHandler, false);
      xhr.addEventListener("error", errorHandler, false);
      xhr.addEventListener("abort", abortHandler, false);
      
      return xhr;
      }
    }) 
  
  }) 
  
  function uploadTryAgain () {

    form = new FormData($("#photo-service-form")[0]);
    
    $.ajax({  
      url:'{{ path('admin_photo_service_add') }}',
      method: "POST",
      type: "POST",
      data: form,
      processData: false,
      contentType: false,
      xhr: function(){
      // get the native XmlHttpRequest object
      var xhr = $.ajaxSettings.xhr() ;
      xhr.upload.addEventListener("progress", progressHandler, false);//onprogress = function(evt){ progressHandler(evt) } ;
      xhr.addEventListener("load", completeHandler, false);
      xhr.addEventListener("error", errorHandler, false);
      xhr.addEventListener("abort", abortHandler, false);
      
      return xhr;
      }
    }) 
  }

  function sendEmail(){
    
    const name = $('#photo-service-form').find('input[name="name"]').val();
    const email = $('#photo-service-form').find('input[name="email"]').val();
    const telephone = $('#photo-service-form').find('input[name="telephone"]').val();
    const locales = $('#photo-service-form').find('select[name="locales"]').val();
    //const contacts = $('#photo-service-form').find

    contacts = [];
    // The .each() method is unnecessary here:
    $('input[name="contacts[]"]').each(function() {
      contacts.push($( this ).val());
    });

    $.ajax({  
      url:'{{ path('photo_service_confirmation') }}',
      type: "POST", 
      data:'name='+name+'&email='+email+'&telephone='+telephone+'&locales='+locales+'&contacts='+JSON.stringify(contacts),
      success: function(data){  
        //console.log(data)
        if (data.status == 1){
            //alert("email sent");
        }
        else{
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)

          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })

  }


  function progressHandler(event) {
    $("#loaded_n_total").html("Uploaded " + parseFloat(event.loaded * Math.pow(10,-6)).toFixed(1) 
    + " Mb of " + parseFloat(event.total * Math.pow(10,-6)).toFixed(1)+ " Mb");
    
    var percent = (event.loaded / event.total) * 100;
    progressBar.value = Math.round(percent);
    $("#status").html(Math.round(percent) + "% uploaded... please wait");

    
    if(Math.round(percent) == 100) {
      //$("#status").html("compressing images... please wait");
      $('.w3-overlay').hide()

      $('#photo-service-form')[0].reset();
      $("#previews").html('<i id="no-image" class="fa fa-camera w3-jumbo" style="color:#05788d"></i>');
      $('#progressBar,#status,#loaded_n_total').addClass("w3-hide");


      $(".sucess-msg").removeClass("w3-hide");
      
      setTimeout(
      function() 
      {
        $(".sucess-msg").addClass("w3-hide");
      }, 3000);
    }

  }

  function completeHandler(event) {
    $("#status").html(event.target.responseText.message);
    progressBar.value = 0; //wil clear progress bar after successful upload
  }

  function errorHandler(event) {
    $("#status").html("Upload Failed");
    $('.w3-overlay').hide()

    var uploadRetry = $('<input type="button" onclick="uploadTryAgain()" value="{%trans%}try_again{%endtrans%}" />');
    $("#try-again").append(uploadRetry);
    $("#submit-button").addClass("w3-hide");
   /* setTimeout(
            function() 
            {
              ajaxUpload('photo-service-new')
            }, 4000); */
  }

  function abortHandler(event) {
    $("#status").html("Upload Aborted");
    $('.w3-overlay').hide()
  /*  setTimeout(
            function() 
            {
              ajaxUpload('photo-service-new')
            }, 4000); */
  }


  function customError (fieldId, errorMessage) {
    //console.log(fieldId, errorMessage);
    var response = [];
    response.item = fieldId;
    response.message = errorMessage;
    response.errorName = response.item + '-custom';

    var FieldInstance = $('#' + response.item).parsley();
    FieldInstance.removeError(response.errorName);
    FieldInstance.addError(response.errorName, {message: response.message});
}

</script>

