
<link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
<style>
li { list-style-type:none}
ul{padding: 0px}
.timepicker{background:#FFF;border:1px solid #DDD;padding: 8px 0px}
.bootstrap-datetimepicker-widget table td span {border-radius: 0px}
.bootstrap-datetimepicker-widget table td span:hover {background: #DDD}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {border: 0px solid #FFF!important}
.w3-input {border-bottom: 0px solid #05788d}
input, select, textarea {color: #000!important}
.w3-select{padding: 11.5px 4px}

</style>
<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-tags"></i> {%trans%}product_23{%endtrans%} <i class="far fa-plus-square fa-fw"></i></b></h5>
</header>

<div class="w3-container">
    <div class="w3-border w3-sand">
    
      {{ form_start(form, {'attr': {'id': 'product-form'}})  }}

      <div class="w3-row-padding w3-margin-top w3-border-bottom">

        <div class="w3-col l4 m3 s0">&nbsp;</div>

        <div class="w3-col l4 m6 s12 w3-center w3-margin-bottom" title="Vamos meter uma imagem para este prod">
          <div class="w3-white w3-center w3-margin-bottom w3-border w3-imput w3-section set-image-container w3-padding" style="cursor:pointer"onclick="$('.set-image').trigger('click')">
            <i class="fa fa-camera w3-jumbo" style="color:#05788d"></i>
          </div>
          {{ form_widget(form.image)}}
        </div>    
      </div>
 
      <div class="w3-row-padding w3-margin-top w3-border-bottom">
        <div class="w3-col l2 m4 s12" title="Garantia da pagamento mostra ao cliente q tem q preencher os dados do cartão de crédito">
          {{ form_label(form.warranty_payment)}}<br>
          {{ form_widget(form.warranty_payment)}}
        </div>

        <div class="w3-col s6 l2 m4" title="Em destaque no banner">
          {{ form_label(form.highlight)}}<br>
          {{ form_widget(form.highlight)}}
        </div>

        <div class="w3-col s6 l2 m4" title="Vamos mostrar este Produt aos clientes no site">
          {{ form_label(form.is_active)}}<br>
          {{ form_widget(form.is_active)}} 
        </div>

        <div class="w3-col s6 l3 m6 w3-margin-bottom" title="A duração deste Peod">
          <div style="position:relative">
            {{ form_label(form.duration) }}
            {{ form_widget(form.duration) }}
          </div>
        </div>
        <div class="w3-col s6 l3 m6 w3-margin-bottom" title="A lotação deste Prod">
          {{ form_label(form.availability) }}
          {{ form_widget(form.availability) }}
        </div>
      </div>

      <div class="w3-row-padding w3-margin-top w3-border-bottom">
        <div class="w3-col s6 l3 m6 w3-margin-bottom">
          {{ form_label(form.category) }}
          {{ form_widget(form.category) }}
        </div>
      </div>
      <div class="w3-row-padding w3-margin-top w3-border-bottom">    
      <div class="w3-hide">
        {{ form_widget(form.submit)}}
      </div>

      <div class="w3-col s12 w3-margin-top w3-margin-bottom w3-border-top">
        <span class="w3-btn w3-border w3-green w3-right w3-margin-top" onclick="$('#product-form').trigger('submit')">
            <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
        </span>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>

<script src="{{ asset('js/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>

<script>

  var loadFile = function(event) {
    $('.set-image-container').html('<img id="output" class="w3-image w3-animate-zoom">')
    var output = document.getElementById('output')
    output.src = URL.createObjectURL(event.target.files[0])
  }

priceObj = $('#product_price').data("prototype")

$('#product_price').html('<div class="w3-hide">'+priceObj+'</div>')

$('#product_duration').datetimepicker({format: 'HH:mm', ignoreReadonly:true ,icons: {
  time: "fa fa-clock-o",
  date: "fa fa-calendar",
  up: "fa fa-chevron-up",
  down: "fa fa-chevron-down"
  }
}).val('00:00')



  $('#product-form').on('submit',function(e){
  obj=''
  e.preventDefault()
  $('.w3-overlay').show()
  $('.required').addClass('w3-hide')
    $.ajax({  
      url:'{{ path('admin_product_add') }}',
      type: "POST",
      data: new FormData($(this)[0]),
      processData: false,
      contentType: false,
      cache: false,
      success: function(data){  
        $('.w3-overlay').hide()
        //console.log(data)
        if (data.message == 'success'){
          ajaxUpload('product-list')
        }
        else if (data.message=='fail'){
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)

          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  //}, 500)
})
</script>

