<style>
.note-editor {border-radius: 0px}
textarea {color: #FFF!important}
.btn-fullscreen{display: none}
.w3-input {border-bottom: 0px solid #05788d}
</style>

<header class="w3-container" style="padding-top:22px">
   <h5><b><i class="far fa-file-alt"></i> SEO</b></h5>
</header>

<div class="w3-row-padding">
  {% for seo in seos %}
  <div class="w3-col s12 m6 l1 w3-margin-bottom">
     <input type="hidden" id='{{seo.id}}-rgpd' value="{{seo.title}}">
     <div> <!-- class="w3-card-2 w3-sand w3-border"-->
      <div class="w3-row">
        <div class="w3-col s6">
          <button class="w3-btn w3-block w3-border w3-blue btn-{{ loop.index }}" onclick="editRgpd({{seo.id}},'{{seo.title}}','{{seo.description}}','{{seo.keywords}}', {{seo.locales.id}})">
            <i class="far fa-edit fa-fw"></i>
          </button>
        </div>
        <div class="w3-col s6">
          <img src="{{seo.locales.filename}}" class="w3-border w3-opacity-min" style="height:45px">
        </div>
      </div>
    </div>
  </div>  
  {% endfor %}
</div>

<div class="w3-container">
  {{form_start(form, {'attr': {'id': 'seo-form'}})}}
  <div class="w3-row-padding w3-sand w3-border w3-padding-16">
    <div class="w3-col s12 w3-hide">
      {{form_label(form.locales)}}
      {{form_widget(form.locales)}}
    </div>

    <div class="w3-col s12">
      {{form_label(form.title)}}
      {{form_widget(form.title)}}
      {{form_label(form.description)}}
      {{form_widget(form.description)}}
      {{form_label(form.keywords)}}
      {{form_widget(form.keywords)}}
    </div>

  </div>
  <div class="w3-row-padding w3-border-top">
    <div class="w3-col s12 w3-margin-top w3-margin-bottom">
      <button class="w3-btn-block w3-margin-left w3-right w3-button w3-border w3-green">
        <i class="fa fa-check"></i> {%trans%}save{%endtrans%}
      </button>
    </div>
  </div>
  <input type="hidden" name="id" id="seo_id">
  {{ form_end(form) }}
</div>

<script>

function editRgpd(id, title, description, keywords, locales){
  $('#seo_id').val(id)
  $('#seo_title').val(title)
  $('#seo_description').val(description)
  $('#seo_keywords').val(keywords)
  $('#seo_locales').val(locales)
}

$('#seo-form').on('submit',function(e){
  e.preventDefault()
  obj=''
  $('.w3-overlay').show()

  setTimeout(function(){
    $.ajax({  
      url:'{{ path('admin_seo_edit') }}',
      type: "POST",
      data:$('#seo-form').serialize(),
      success: function(data){ 
      console.log(data) 
        $('.w3-overlay').hide()
         if (data.status == 1){
          ajaxUpload('seo')

          $('#easy_text_name').val('')
        }
        else{
          for(i=0;i<data.data.length;i++)
            obj += data.data[i]+'<br>'
          $('#set-fields').html(obj)
          $('#modal-fields').show()
        }
      },
      error:function(data){
        $('.w3-overlay').hide()
        $('#modal-error').show()
      }
    })
  }, 500)
})

$('.btn-1').trigger('click')
</script>